body {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
         user-select: none; 
color: white;
overflow:auto;
background-color: #171b1f;
font-family: "Roboto", sans-serif;
font-weight: 500;

margin-top: 40vh;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
         user-select: none; 
color: white;
overflow:auto;
background-color: #212325;
font-family: "Roboto", sans-serif;
font-weight: 500;
border-radius: 0px;
width: 50px;
}

h3 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.typewriter {
  font-family: monospace;
  font-weight: 300;
  letter-spacing: .11em;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: .11em solid #FF0048;
  animation: typing 4.5s steps(50, end), blinking-cursor .5s step-end infinite;
  }
  
  .subtypewriter {
  font-family: monospace;
  font-weight: 300;
  letter-spacing: .11em;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: .11em solid #FF0048;
  opacity:0%;
  animation: typing2 3.5s steps(50, end), blinking-cursor .5s step-end infinite;
  animation-delay: 4s;
  }
  
  @keyframes typing2 {
  from {
    opacity:100%;
    width: 0;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
  }
  
  @keyframes typing {
  from {
    opacity:100%;
    width: 0;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
  }
  
  @keyframes blinking-cursor {
  from,
  to {
    opacity: 100%;
    border-color: transparent
  }
  50% {
    opacity: 100%;
    border-color: #FF0048;
  }
  }

sexyButton {
 box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 20px, rgba(48, 48, 48, 0.6) -10px -10px 20px;
  border: 0px solid black;
  font-size: 30px;
  color: white;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  overflow:auto;
  background-color: #171b1f;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  width: 1500px;
  height: 50px;
  transition: 0.3s;
  text-align: center;

}

h1 {
font-size: 40px;
margin: 0 auto;
text-align: center;
display: block;
text-decoration: none;
color: inherit;
transition: transform 0.3s;
font-weight: 300;

}


p {
font-size: 20;
margin: 0 auto;
text-align: center;
display: block;
text-decoration: none;
color: inherit;
transition: transform 0.3s;
font-weight: 300;
}

.fab {
  transition: 1s;
  padding: 10px;
  color: rgb(233,233,233);
  font-size: 15px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;

}

.curved-icon {
margin: 10px; border-radius: 15px; pointer-events: none;
}

.icon {
margin: 10px; pointer-events: none;
}

.enter {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      left:0px;
      right:0px;
  border: 0px solid black;
  font-size: 40px;
  color: white;
  font-weight: 300;
  font-family: monospace;
  overflow:hidden;
  background-color: #1c1e20;
  transition: 0.3s;
  text-align: center;
}


.fab:hover {
  transition: 0.6s;
  opacity: 0.6;
  color: #FF0048;
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);


border-radius: 60px;
}


a.fab {
  font-size: 36px;
  
}

::-moz-selection {
  color: rgba(74,33,102);
}

::selection {
  color: rgba(74,33,102);
}


.topnav {
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
display: flex;

transition: 1s;
position: absolute;
z-index: 0;
top: 5%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(25, 42, 86, 0.0);
overflow:auto;
align-content: center;
float: center;

}

/*.dropdown-content {
  display: none;
}

.dropbtn:hover + .dropdown-content {
  display:block;
}*/

.topnav a {
transition: 1s;
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
  transition: 0.2s;
  opacity: 0.6;
  color: #FF0048;
}

.topnav a.active {
color: grey;
}

.lo {
  color: white;
  text-align: center;
}
